.content {
    height: calc(100vh - 280px);
    width: 100%;
    padding: 30PX;
    position: relative;
}

.prevBtn {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(-10px, -50%);
  cursor: pointer;
  background-image: url(../assets/img/item/arrows.png);
  background-size: 100%;
  background-position-y: 0px;
  width: 30px;
  height: 50px;
  border: none;
  background-color: transparent;
}

.nextBtn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(15px, -50%);
  width: 40px;
  height: 70px;
  cursor: pointer;
  background-position-y: 210px;
  background-image: url(../assets/img/item/arrows.png);
  background-size: 100%;
  width: 30px;
  height: 50px;
  border: none;
  background-color: transparent;
}

.title {
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    height: 40px;
    font-family: taffy !important;
    font-size: 22px;
    font-weight: bold;
    max-width: calc(100% - 40px) !important;
    text-wrap: nowrap;
    overflow: hidden;
    width: auto;
    padding-right: 10px;
    width: fit-content;
}

.title > div {
    width: auto;
    overflow: hidden;
}

.pageCat {
    position: absolute;
    right: 20px;
    bottom: 35px;
    width: 100px;
    height: 100px;
    padding: 10px;
    z-index: 99;
}

.pageCat img {
    width: 100%;
    height: 100%;
}

.dogSaying {
    width: 390px;
    position: absolute;
    right: 235px;
    bottom: 155px;
    z-index: 200;
    display: none;
}

.dogSaying .bubble {
    position: absolute;
    max-width: none;
    max-height: none;
    width: auto;
    height: auto;
    border: none;
    margin: 0;
    padding: 0;
}

.dogSaying .bubble.top-left {
    top: 0;
    left: 0;
    width: 20px;
    height: 11px;
}
.dogSaying .bubble.top-middle {
    top: 0;
    left: 20px;
    right: 20px;
    height: 11px;
    border-top: 1px solid #B3B3B3;
}
.dogSaying .bubble.top-right {
    top: 0;
    right: 0;
    width: 20px;
    height: 11px;
}
.dogSaying .bubble.middle-left {
    top: 10px;
    left: 0px;
    width: 20px;
    bottom: 11px;
    border-left: 1px solid #B3B3B3;
}
.dogSaying .bubble.middle-middle {
    top: 11px;
    left: 20px;
    right: 20px;
    bottom: 11px;
}
.dogSaying .bubble.middle-right {
    top: 11px;
    right: 0;
    width: 20px;
    bottom: 12px;
    border-right: 1px solid #B3B3B3;
}
.dogSaying .bubble.bottom-left {
    left: 0;
    bottom: 0;
    width: 20px;
    height: 11px;
}
.dogSaying .bubble.bottom-middle {
    bottom: 0;
    border-bottom: 1px solid #B3B3B3;
    left: 20px;
    right: 70px;
    height: 11px;
}
.dogSaying .bubble.bottom-right {
    bottom: -33px;
    right: 0;
    width: 70px;
    height: 45px;
}

.dogSaying .bubble img {
    display: block;
    width: 100%;
    height: 100%;
}

.dogSaying .say-content {
    font-size: 1.2em;   
    font-family: 'taffy';
    position: relative;
    height: 100%;
    z-index: 1000;
    padding: 30px 20px 20px 20px;
    text-align: center;
    display: none;
}

.dogSaying .say-content * {
    font-family: taffy;
}

.confirm h3 {
    font-size: 25px;
}

.confirm h4 {
    font-size: 19px;
    font-weight: 500;
}

.confirm-action .action-btn {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 24px;
    color: #0071bc;
    cursor: pointer;
    transition: all 0.2s;
}

.confirm-action .action-btn:hover {
    background-color: #0071bc;
    color: white;
}

.availability {
    position: absolute;
    left: -9px;
    top: -9px;
    height: 50px;
    width: 50px;
}

.type {
    position: absolute;
    z-index: 1000;
    left: -10px;
    bottom: -10px;
    width: 60px;
    height: 60px;
}

.level {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
}

.level-text {
    position: absolute;
    top: 10px;
    right: 5px;
    transform: rotate(45deg);
    font-size: 12px;
    font-weight: 500;
}

.availability img, .type img, .level img {
    width: 100%;
    height: 100%;
}

.jacket-card {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px 20px 60px 20px;
    cursor: pointer;
}

.jacket-footer {
    width: 100%;
    /* height: 30px; */
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 10px;
    font-size: 12px;
    color: #008eec;
    font-weight: 700;
}

.jacket-footer span {
    word-wrap: none;
}

.jacket-card img {
    height: 100%;
    width: auto;
}

.slick-slide {
    padding: 10px;
}

.slick-slide img {
    width: 100%;
    object-fit: contain;
}

.slick-next, .slick-prev {
    display: none;
}

.slick-prev:before,
.slick-next:before {
    color: black;
    display: none;
}


#modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    transition: all 0.3s;
}

#modal .overlay {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
}

.kalam {
    font-family: "taffy";
    color: #0071BC;
    font-size: 24px;

}

.center-box {
    width: 900px;
    height: 90%;
    background: white;
    position: relative;
}

.left-section {
    width: 240px;
    padding: 15px;
    border-right: 1px solid rgb(78, 74, 74);
}

.thumbnail {
    width: 100%;
    background-image: url("../assets/img/item/default.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.right-section {
    padding: 10px;
    width: calc(100% - 240px) !important;
}

.right-section::-webkit-scrollbar {
    width: 14px;
}

.right-section::-webkit-scrollbar-thumb {
    background-color: #2b66c0;
}

.right-section::-webkit-scrollbar-track {
    background-color: #e9ecef;
}

.btn {
    border: 1px solid gray;
    width: 100%;
    height: 48px;
    padding: 6px;
    background: #297af2;
    color: white;
    margin-top: 20px;
    border-radius: 0px;
}

.btn-style {
    font-size: 26px !important;
    color: #FFF !important;
    font-family: "taffy" !important;
    text-shadow: 1px 1px 1px #444;
    background: linear-gradient(#008eec, #0071bc);
}

.links {
    width: 100%;
}

.large-text {
    font-size: 32px;
    font-family: 'taffy';
}

.bg-blue-heading {
    width: 100%;
    background: #0071bc;
    color: white;
    padding-left: 6px;
    font-size: 22px;
    text-shadow: 1px 1px 1px black;
    margin: 10px 0px;
}

.summary-content {
    font-size: 15px !important;
}

.text-gray {
    color: #444;
    font-weight: 700;
    font-size: 17px;
    font-family: sans-serif;
}

.subtitle {
    font-size: 15px;
    margin: 0px 0px 6px 0px;
    font-weight: 600;

}

.t-head th {
    background: linear-gradient(#d4d4d4, #c2c2c2);
    padding: 5px 8px !important;
    color: #444444 !important;
}

.table td {
    font-size: 14px;
    padding: 7px !important;
    color: #444444 !important;
}

.margin-top {
    margin-top: 50px;
}

.neg-margin {
    margin-top: 0px;
}

.btn-gradient {
    background: linear-gradient(to bottom, #297af2, #0056b3);
    color: white;
    border: none;
}

.btn-gradient:hover {
    background: linear-gradient(to bottom, #0056b3, #297af2);
    color: white;
}

.absolute-div{
    position: absolute;
    top: -20px;
    right:-20px;
    background: white;
    border: 4px solid gray;
    padding: 5px 10px; 
    border-radius: 100%;
    cursor: pointer;
}

.icon{
    color: rgb(202, 13, 13);
    font-weight: bolder;
    font-size: 30px;
}

.links {
    margin-top: 14px !important;
}

.links a {
    font-size: 22px;
    line-height: 1.25em;
    width: 100%;
    text-align: right;
}

.close-btn {
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
}

.detail-avai {
    width: 40px;
    height: 40px;
    position: absolute;
    left: -10px;
    top: -10px;
}

.detail-type {
    width: 40px;
    height: 40px;
    position: absolute;
    left: -10px;
    bottom: -10px;
}

.login {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    display: none;
}

.login-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}

.login-content {
    margin-top: 100px;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    height: max-content;
}

input[type=checkbox] {
    width: 16px;
    height: 16px;
}

.login button {
    font-family: taffy;
    font-size: 20px;
    padding: 0px 20px !important;
    width: auto;
}

.alt-text {
    display: none;
    position: absolute;
    top: 40px;
    width: 100%;
    padding: 40px;
    color: white;
    font-weight: 600;
    text-align: center;
}

.fallback {
    display: block;
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 60px);
    background-image: url(../assets/img/item/default.png);
    left: 20px;
    top: 30px;
}

@media screen and (max-width: 600px) {
    #title {
        font-size: 22px;
    }
}

@media screen and (max-width: 540px) {
    .content {
        padding: 50px;
    }
}

.thumb-alt {
    display: none;
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 100%;
    text-align: center;
}

#thumb-alt-img {
    width: 100%;
    height: auto;
}

#thumb-alt-text {
    position: absolute;
    text-align: center;
    padding: 20px 8px;
    width: 100%;
    top: 0;
    left: 0;
}

.jacket-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-height: 500px) {
    #content {
        padding: 5px 30px;
    }

    .jacket-container {
        height: 100%;
        position: relative;
        top: 0;
        transform: none;
    }

    .slick-list, .slick-track {
        height: 100%;
    }

    .slick-slide > div, .slick-slide > div > div {
        height: 100%;
    }

    .jacket-card {
        height: 100% !important;
        padding: 10px 20px 30px 20px;
    }

    .availability, .type {
        width: 40px;
        height: 40px;
    }

    .alt-text {
        padding: 30px 10px;
    }
}