/*****************************
 * Middle Styles Begins Here *
 *****************************/

.title {
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  height: 40px;
  font-family: taffy;
  font-size: 22px;
  font-weight: bold;
  width: max-content;
}

.prevBtn {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(-10px, -50%);
  cursor: pointer;
  background-image: url(../assets/img/item/arrows.png);
  width: 40px;
  height: 70px;
}

.nextBtn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(10px, -50%);
  width: 40px;
  height: 70px;
  cursor: pointer;
  background-image: url(../assets/img/item/arrows.png);
}

.prevBtn:hover {
  border-right-color: #006b99;
}
.nextBtn:hover {
  border-left-color: #006b99;
}

.content {
  height: calc(100vh - 290px);
  margin: 0px 20px;
  /* background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  border: 1px solid white; */
  overflow: hidden;
  transition: all 0.5s;
}