/*****************************
 * Global Styles Begins Here *
 *****************************/

* {
  -webkit-tap-highlight-color: rgba(152, 240, 255, 0.3);
  user-select: none;
}


html, body {
  background-color: #D1EAFF;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "taffy";
  src: url('../assets/fonts/taffy.woff') format('woff'),
}

body {
  background-color: #D1EAFF;
  overflow: hidden;
}

#content {
  /* opacity: 0; */
  /* transition: all 0.5s; */
}

.loader {
  z-index: 9999 !important;
  transition: all 3.5s;
  position: fixed;
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
  top: 200px;
  text-align: center;
  opacity: 1;
}

.loader .progress {
  height: 30px;
}

.main {
  background-image: url(../assets/img/bg/blueGradient.png);
  background-repeat: repeat-x;
  background-size: auto 100%;
}

/*****************************
 * Header Styles Begins Here *
 *****************************/

.search {
  height: 70px;
}

.search > input {
  width: 600px;
  box-shadow: inset 2px 2px 2px 0px #dddddd;
  font-size: 1em;
}

.searchBtn {
  font-family: taffy;
  color: #006b99;
  border: 1px solid #949494;
  border-radius: 3px;
  font-size: 1.25em;
  font-weight: bold;
  padding: 4px 20px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(0.5, #ebebeb), color-stop(0.5, #dbdbdb), to(#b5b5b5)) 
}

.searchBtn:hover {
  background-color: white;
  background-image: none;
  color: #006b99;
}

.cloudBg {
  display: flex;
  top: 100px;
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

.container-fluid {
  position: relative;
}


.search, .title {
  position: relative;
  z-index: 4;
}

.cloudBg img {
  width: 300px;
  margin: 0px 40px;
}

#cloud, #grass {
  transition: all 0.5s;
}

/*****************************
 * Footer Styles Begins Here *
 *****************************/

.footer {
  height: 175px;
  background-image: url(../assets/img/bg/greenGradient.png);
  background-repeat: repeat-x;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 3;
}


.grass {
  position: absolute;
  right: 0px;
  height: 30px;
  top: -20px;
}

.dogImg {
  position: fixed;
  right: 160px;
  bottom: 18px;
  z-index: 10;
}

.dogImg > img {
  height: 170px;
  width: auto;
}

.dogHouse {
  position: absolute;
  right: 60px;
  bottom: 70px;
  z-index: 5;
}

.dogHouse > img {
  width: 125px;
  height: auto;
}

.footerContent {
  width: 460px;
  height: 66px;
  position: absolute;
  bottom: 35px;
  left: 20px;
  background-color: #a6d9bc;
  z-index: 10;
}

.footerContent span {
  font-family: taffy;
  font-size: 1.375em;
  color: black;
}

.footerBar {
  background-color: #006837;
  height: 25px;
  position: absolute;
  bottom: 0;
  padding: 0px 20px;
}

.footer-item {
  cursor: pointer;
}

.footer-item:last-child span {
  transform: translateX(20px);
}

.imgBtn {
  margin-top: -60px;
}

.imgBtnItem {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  border: white 1px solid;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.1s;
  transition-timing-function: ease-out;
}

.imgBtnItem:nth-child(2n) {
  margin-left: -33px;
  margin-top: 20px;
}

.imgBtnItem:nth-child(n+3) {
  margin-left: -33px;
}

.footer-item:hover .item1 {
  transform: rotate(-30deg) translateX(-20px) translateY(-20px);
}
.footer-item:hover .item2 {
  transform: rotate(-20deg) translateX(-20px) translateY(-20px);
}
.footer-item:hover .item3 {
  transform: rotate(20deg) translateX(10px) translateY(-10px);
}
.footer-item:hover .item4 {
  transform: rotate(30deg) translateX(10px) translateY(-30px);
}

@media screen and (min-width: 700px) {
  .a, .b, .c, .d {
    display: inline;
  }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
  .a, .b, .c {
    display: inline;
  }
  .d {
    display: none;
  }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
  .a, .b {
    display: inline;
  }
  .c, .d {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .a {
    display: inline;
  }
  
  .b, .c, .d {
    display: none;
  }
}

.slick-arrow {
  display: none !important;
}

.app-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-height: 700px) {
  .footer {
    height: 130px;
  }

  .footerContent {
    height: 45px;
  }
}

@media screen and (max-height: 500px) {
  .footer {
    height: 80px;
  }

  .content {
    height: calc(100vh - 200px) !important;
  }

  .footerContent {
    height: 45px;
    padding-right: 20px;
  }

  .footerContent span {
    font-size: 20px;
  }

  .footer-item:last-child span {
    transform: translateX(0px);
}

  .imgBtnItem {
    width: 50px;
    height: 50px;
    transform: translateY(10px);
  }

  .dogImg {
    right: 50px;
    transform: translate(0%, 0);
  }

  .dogSaying {
    right: 100px !important;
  }

  .login-content {
    margin-top: 20px !important;
  }
  
  .dogHouse {
    bottom: 30px;
    right: 10px;
    height: 100px;
  }

  .dogImg > img {
    height: 130px;
  }

  .imgBtnItem:nth-child(n+3) {
    margin-left: -23px;
}

.imgBtnItem:nth-child(2n) {
    margin-left: -23px;
    margin-top: 20px;
}
}

@media screen and (max-width: 500px) {
  .footer {
    height: 130px;
  }
  .footerContent {
    width: calc(100% - 60px);
    height: 45px;
  }

  .footerContent span {
    font-size: 18px;
  }

  .imgBtnItem {
    width: 50px;
    height: 50px;
  }

  .dogImg {
    right: 0%;
    transform: translate(0%, 0);
  }

  .dogSaying {
    right: 50px !important;
    width: 300px !important;
  }

  .dogImg > img {
    height: 130px;
  }

  .imgBtnItem:nth-child(n+3) {
    margin-left: -23px;
}

.imgBtnItem:nth-child(2n) {
    margin-left: -23px;
    margin-top: 20px;
}
}


.search, .title, .content, .dogImg, .dogHouse, .footerContent {
  opacity: 0;
}